<?xml version="1.0"?>
<config>
    <modules>
        <SM_Productlabel>
            <version>0.1.2</version>
        </SM_Productlabel>
    </modules>
    <frontend>
        <routers>
            <productlabelrouter>
                <use>standard</use>
                <args>
                    <module>SM_Productlabel</module>
                    <frontName>productlabelfront</frontName>
                </args>
            </productlabelrouter>
        </routers>
        <!--<layout>-->
            <!--<updates>-->
                <!--<productlabel>-->
                    <!--<file>productlabel.xml</file>-->
                <!--</productlabel>-->
            <!--</updates>-->
        <!--</layout>-->
    </frontend>
    <admin>
        <routers>
			<productlabelrouter>
				<use>admin</use>
				<args>
					<module>SM_Productlabel</module>
					<frontName>productlabelfront</frontName>
				</args>
			</productlabelrouter>
        </routers>
    </admin>

    <adminhtml>
		<layout>
			<updates>
				<productlabel>
					<file>productlabel.xml</file>
				</productlabel>
			</updates>
		</layout>
    </adminhtml>

    <global>
        <models>
            <productlabel>
                <class>SM_Productlabel_Model</class>
                <resourceModel>productlabel_mysql4</resourceModel>
            </productlabel>
            <productlabel_mysql4>
                <class>SM_Productlabel_Model_Mysql4</class>
                <entities>
                    <productlabel>
                        <table>tbl_productlabel</table>
                    </productlabel>
                </entities>
            </productlabel_mysql4>
        </models>
        <resources>
            <productlabel_setup>
                <setup>
                    <module>SM_Productlabel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productlabel_setup>
            <productlabel_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productlabel_write>
            <productlabel_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productlabel_read>
        </resources>
        <blocks>
            <productlabel>
                <class>SM_Productlabel_Block</class>
            </productlabel>
        </blocks>
        <helpers>
            <productlabel>
                <class>SM_Productlabel_Helper</class>
            </productlabel>
        </helpers>
    </global>
    <!--for default values-->
    <default>
        <sm_productlabel>
            <sm_productlabel>
                <enable>0</enable>
            </sm_productlabel>
        </sm_productlabel>
    </default>
</config>