<?xml version="1.0"?>
<config>
    <modules>
        <SM_Featured>
            <version>0.1.2</version>
        </SM_Featured>
    </modules>
    <frontend>
        <routers>
            <featuredrouter>
                <use>standard</use>
                <args>
                    <module>SM_Featured</module>
                    <frontName>featuredfront</frontName>
                </args>
            </featuredrouter>
        </routers>
        <layout>
            <updates>
                <featured>
                    <file>featured.xml</file>
                </featured>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<featuredrouter>
				<use>admin</use>
				<args>
					<module>SM_Featured</module>
					<frontName>featuredfront</frontName>
				</args>
			</featuredrouter>

            <!--rewrite-->
            <adminhtml>
                <args>
                    <modules>
                        <sm_featured before="Mage_Adminhtml">SM_Featured_Adminhtml</sm_featured>
                    </modules>
                </args>
            </adminhtml>

        </routers>
    </admin>

    <adminhtml>

		<layout>
			<updates>
				<featured>
					<file>featured.xml</file>
				</featured>
			</updates>
		</layout>
    </adminhtml>

    <global>
        <events>
            <!--dump layout for every page-->
            <controller_action_layout_generate_blocks_before>
                <observers>
                    <debug_layout>
                        <!--<type>singleton</type>-->
                        <type>disabled</type>
                        <class>SM_Featured_Model_Showhandle</class>
                        <method>showHandle</method>
                    </debug_layout>
                </observers>
            </controller_action_layout_generate_blocks_before>
            <!--end dump layout-->

            <!--add grid to backend-->
            <core_block_abstract_to_html_before>
            <!--<adminhtml_block_html_before>-->
                <observers>
                    <add_featured_column_to_product_grid>
                        <type>singleton</type>
                        <!--<type>disabled</type>-->
                        <class>SM_Featured_Model_CustomizeProductGrid</class>
                        <method>addFeaturedColumn</method>
                    </add_featured_column_to_product_grid>
                </observers>
            <!--</adminhtml_block_html_before>-->
            </core_block_abstract_to_html_before>

            <!--edit collection before product-->
            <catalog_product_collection_load_before>
                <observers>
                    <edit_collection_to_add_featured>
                        <type>singleton</type>
                        <!--<type>disabled</type>-->
                        <class>SM_Featured_Model_CustomizeProductGrid</class>
                        <method>addSelect</method>
                    </edit_collection_to_add_featured>
                </observers>
            </catalog_product_collection_load_before>

            <!--add massaction-->
            <adminhtml_catalog_product_grid_prepare_massaction>
                <observers>
                    <add_massaction>
                        <type>singleton</type>
                        <!--<type>disabled</type>-->
                        <class>SM_Featured_Model_CustomizeProductGrid</class>
                        <method>addMassaction</method>
                    </add_massaction>
                </observers>
            </adminhtml_catalog_product_grid_prepare_massaction>
        </events>
        <models>
            <featured>
                <class>SM_Featured_Model</class>
                <resourceModel>featured_mysql4</resourceModel>
            </featured>
            <featured_mysql4>
                <class>SM_Featured_Model_Mysql4</class>
                <!--<entities>-->
                    <!--<featured>-->
                        <!--<table>tbl_featured</table>-->
                    <!--</featured>-->
                <!--</entities>-->
            </featured_mysql4>
        </models>
        <resources>
            <featured_setup>
                <setup>
                    <module>SM_Featured</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featured_setup>
            <featured_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featured_write>
            <featured_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featured_read>
        </resources>
        <blocks>
            <featured>
                <class>SM_Featured_Block</class>
            </featured>
            <!--<page>-->
                <!--<rewrite>-->
                    <!--<html_topmenu>SM_Featured_Block_Megamenu</html_topmenu>-->
                <!--</rewrite>-->
            <!--</page>-->

            <adminhtml>
                <rewrite>
                    <catalog_product_grid>SM_Featured_Block_Adminhtml_Featured_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>

        </blocks>
        <helpers>
            <featured>
                <class>SM_Featured_Helper</class>
            </featured>
        </helpers>
    </global>
    <!--for default values-->
    <default>
        <sm_featured>
            <sm_featured>
                <enable>0</enable>
            </sm_featured>
            <sm_featured_config>
                <featuredquantity>5</featuredquantity>
            </sm_featured_config>
        </sm_featured>
    </default>
</config>