<?xml version="1.0"?>
<config>
    <modules>
        <SM_Filter>
            <version>0.1.0</version>
        </SM_Filter>
    </modules>
    <frontend>
        <routers>
            <filterrouter>
                <use>standard</use>
                <args>
                    <module>SM_Filter</module>
                    <frontName>filterfront</frontName>
                </args>
            </filterrouter>
        </routers>
        <layout>
            <updates>
                <filter>
                    <file>filter.xml</file>
                </filter>
            </updates>
        </layout>
    </frontend>
    <!--<admin>-->
        <!--<routers>-->
			<!--<filterrouter>-->
				<!--<use>admin</use>-->
				<!--<args>-->
					<!--<module>SM_Filter</module>-->
					<!--<frontName>filterfront</frontName>-->
				<!--</args>-->
			<!--</filterrouter>-->
        <!--</routers>-->
    <!--</admin>-->

    <adminhtml>

		<!--<layout>-->
			<!--<updates>-->
				<!--<filter>-->
					<!--<file>filter.xml</file>-->
				<!--</filter>-->
			<!--</updates>-->
		<!--</layout>-->
    </adminhtml>

    <global>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <add_field_to_from_edit_attribute_admin>
                        <type>singleton</type>
                        <!--<type>disabled</type>-->
                        <class>SM_Filter_Model_Observer_FilterObserver</class>
                        <method>addField</method>
                    </add_field_to_from_edit_attribute_admin>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>

            <core_block_abstract_to_html_before>
                <observers>
                    <change_template_of_filter_frontend>
                        <type>singleton</type>
                        <!--<type>disabled</type>-->
                        <class>SM_Filter_Model_Observer_FilterObserver</class>
                        <method>changeFilterTemplate</method>
                    </change_template_of_filter_frontend>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <models>
            <!-- rewrite model for filter -->
            <catalog>
                <rewrite>
                    <layer_filter_attribute>SM_Filter_Model_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog>
            <catalog>
                <rewrite>
                    <layer_filter_item>SM_Filter_Model_Layer_Filter_Item</layer_filter_item>
                </rewrite>
            </catalog>

            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>SM_Filter_Model_Resource_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog_resource>


            <filter>
                <class>SM_Filter_Model</class>
                <resourceModel>filter_mysql4</resourceModel>
            </filter>
            <filter_mysql4>
                <class>SM_Filter_Model_Mysql4</class>
                <!--<entities>-->
                    <!--<filter>-->
                        <!--<table>tbl_filter</table>-->
                    <!--</filter>-->
                <!--</entities>-->
            </filter_mysql4>
        </models>
        <resources>
            <filter_setup>
                <setup>
                    <module>SM_Filter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </filter_setup>
            <filter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </filter_write>
            <filter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </filter_read>
        </resources>
        <blocks>
            <filter>
                <class>SM_Filter_Block</class>
            </filter>
        </blocks>
        <helpers>
            <filter>
                <class>SM_Filter_Helper</class>
            </filter>
        </helpers>
    </global>
    <!--for default values-->
    <!--<default>-->
        <!--<sm_filter>-->
            <!--<sm_filter>-->
                <!--<enable>0</enable>-->
            <!--</sm_filter>-->

        <!--</sm_filter>-->
    <!--</default>-->
</config>