
* {
    margin: 0;
    padding: 0;
}
#megamenu {


    height: 40px;
    position: relative;
    z-index: 9999 !important;
    background-color: #111;
    color: #fff;
    /*text-transform: uppercase;*/
}
#megamenu ul, #megamenu li{
    list-style-type: none;

}

#megamenu > li ul > li{
    padding-left: 10px;
    width: 12em;
    border-top: 1px solid red;
}
#megamenu > li {

    display: inline;
    line-height: 40px;
    /*list-style-type: none;*/
    margin: 0;
    padding: 12px 32px;
    position: relative;
    /*text-transform: uppercase;*/
}
#megamenu > li > a{
    text-transform: uppercase;
}

#megamenu li a {
    color: #fff;
    display: inline-block;
    /*text-transform: uppercase;*/
    text-decoration: none;
}
#megamenu li:hover{
    cursor: pointer;
}
#megamenu li ul {
    background-color: #111;
    display: none;
    left: 0;
    position: absolute;
    top: 40px;
    ;
    /*width: 155px;*/
}
#megamenu li.category-link{
    opacity: 0.75;
}

#megamenu li.block-link ul {
    /*background-color: #111;*/
    display: none;
    left: -321px;
    position: absolute;
    /*top: 40;*/
    /*width: 155px;*/
}
#megamenu li.has-children{
    border-right: 5px solid blue;
}
#megamenu li.last-child{
    border-bottom: 2px solid yellowgreen;
}
#megamenu li.first-child{
    border-top: 2px solid yellowgreen;
}
#megamenu li ul li ul {
    display: none;
    left: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}
#megamenu li ul li {
    position: relative;
}
#megamenu li:hover {
    background-color: #E20001;
}
#megamenu li:hover > ul {
    display: block;
}
#megamenu li.active-category{
    background-color: #E20001;
}
div.megacontainer{
    width: 100%;
    background-color: #111;
}

.swiper-container.slider {
    position: relative;
    /*top: -150px;*/
}

#header a.logo{
    position: relative;
    z-index: 200;
}

/*
for featured slider
*/
div.featured img{
    /*width: 100%;*/
}

/*
for filter
*/
div.filter-color{
    height: 30px;
    width: 40px;
    border: 1px solid #000000;
}
li.filter-hidden{
    /*border: 2px solid #00ff00;*/
    display: none;
}
div.filter-color{
    position: relative;
}

div.filter-color{
    /*float: left;*/
    display: inline-block;
}
li span.color-name, li span.count-color{
    position: relative;
    /*margin: auto 0px;*/
    bottom: 10px;
}
li a.color{
    text-decoration: none;
}
 img.product-label{
    position: absolute;
    width: 30% !important;
    z-index: 200;
}
img.product-label.top{
    /*transform: rotate(45deg);*/
    top: 0;
}
 img.product-label.left{
    left: 0;
}
 img.product-label.right{
    /*transform: rotate(180deg);*/
    right: 0;
}
 img.product-label.bottom{
    bottom: 0;
}
a.product-image{
    position: relative !important;
}

div.page-header-container{
    position: relative;
    /*position: absolute;*/
    z-index: 400;
    width: 89%;
    /*background-color: #f1f1f1;*/
    /*opacity: 0.3;*/
}

div.top-bar-container{
    height: 30px;
    background-color: #d3d3d3;
}
div.top-bar-container * {
    float: left;
}
div.top-bar-container .hot-line {
    display: inline-block;
    width: 450px;
    text-align: center;
    float:left;
    font-weight: bold;
}
div.top-bar-container .function{
    display: inline-block;
    float:right;
}
div.top-bar-container .function ul li{
    float: left;
}
div.clear-both{
    clear: both;
}

div.header-minicart {
    bottom: 109px;
    /*position: absolute;*/
    right: 26px;
    
}
#search_mini_form input{
    background-color: black;
}

#search::-moz-placeholder {
    color: white;
    font-weight: bold;
    border: none;
}
#header-nav {
    background-color: #111;
    position: relative;
    /*top: 125px;*/
    z-index: 10;
}
div.megamenu-wrapper{
    display: inline-block;
    /*float:left;*/
}

div.search-wrapper{
    width: 103px;
    display: inline-block;
    float:right;
}
