
* {
    margin: 0;
    padding: 0;
}
#megamenu {

    height: 40px;
    position: relative;
    z-index: 9999 !important;
    background-color: #111;
    color: #fff;
    /*text-transform: uppercase;*/
}
#megamenu ul, #megamenu li{
    list-style-type: none;

}
#megamenu > li ul > li{
    padding-left: 10px;
    width: 10em;
    border-top: 1px solid red;
}
#megamenu > li {

    display: inline;
    line-height: 40px;
    /*list-style-type: none;*/
    margin: 0;
    padding: 12px 32px;
    position: relative;
    /*text-transform: uppercase;*/
}
#megamenu > li > a{
    text-transform: uppercase;
}

#megamenu li a {
    color: #fff;
    display: inline-block;
    /*text-transform: uppercase;*/
    text-decoration: none;
}
#megamenu li:hover{
    cursor: pointer;
}
#megamenu li ul {
    background-color: #111;
    display: none;
    left: 0;
    position: absolute;
    top: 40px;
    /*width: 155px;*/
}

#megamenu li.block-link ul {
    /*background-color: #111;*/
    display: none;
    left: 100%;
    position: absolute;
    /*top: 40;*/
    /*width: 155px;*/
}
#megamenu li ul li ul {
    display: none;
    left: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}
#megamenu li ul li {
    position: relative;
}
#megamenu li:hover {
    background-color: #E20001;
}
#megamenu li:hover > ul {
    display: block;
}
#megamenu li.active-category{
    background-color: #E20001;
}
div.megacontainer{
    width: 100%;
    background-color: #111;
}

.swiper-container.slider {
    position: relative;
    top: -110px;
}