<?xml version="1.0"?>
<config>
    <modules>
        <SM_Slider>
            <version>0.1.1</version>
        </SM_Slider>
    </modules>
    <frontend>
        <routers>
            <slider>
                <use>standard</use>
                <args>
                    <module>SM_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
        <layout>
            <updates>
                <slider>
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<sliderrouter>
				<use>admin</use>
				<args>
					<module>SM_Slider</module>
					<frontName>sliderfront</frontName>
				</args>
			</sliderrouter>
        </routers>
    </admin>

    <adminhtml>
		<layout>
			<updates>
				<slider1>
					<file>slider.xml</file>
				</slider1>
			</updates>
		</layout>
    </adminhtml>

    <global>
        <models>
            <slider>
                <class>SM_Slider_Model</class>
                <resourceModel>slider_mysql4</resourceModel>
            </slider>
            <slider_mysql4>
                <class>SM_Slider_Model_Mysql4</class>
                <entities>
                    <slider>
                        <table>tbl_slider</table>
                    </slider>
                <!--</entities>-->
                <!--<entities>-->
                    <imageslider>
                        <table>tbl_imageslider</table>
                    </imageslider>
                    <mapslider>
                        <table>tbl_mapslider</table>
                    </mapslider>
                </entities>
            </slider_mysql4>
        </models>
        <resources>
            <slider_setup>
                <setup>
                    <module>SM_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slider_setup>
            <slider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slider_write>
            <slider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slider_read>
        </resources>
        <blocks>
            <slider>
                <class>SM_Slider_Block</class>
            </slider>

        </blocks>
        <helpers>
            <slider>
                <class>SM_Slider_Helper</class>
            </slider>
        </helpers>
    </global>

    <!--default value to config-->
    <default>
        <sm_slider>
            <sm_slider>
                <slideperview>1</slideperview>
                <type>dynamic</type>
            </sm_slider>
        </sm_slider>
    </default>

    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>mockmage</default>
                </theme>
            </design>
        </admin>
    </stores>

</config>