<?xml version="1.0"?>
<config>
    <modules>
        <SM_Bestseller>
            <version>0.1.0</version>
        </SM_Bestseller>
    </modules>
    <frontend>
        <routers>
            <bestsellerrouter>
                <use>standard</use>
                <args>
                    <module>SM_Bestseller</module>
                    <frontName>bestsellerfront</frontName>
                </args>
            </bestsellerrouter>
        </routers>
        <layout>
            <updates>
                <bestseller>
                    <file>bestseller.xml</file>
                </bestseller>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<bestsellerrouter>
				<use>admin</use>
				<args>
					<module>SM_Bestseller</module>
					<frontName>bestsellerfront</frontName>
				</args>
			</bestsellerrouter>
        </routers>
    </admin>

    <adminhtml>

		<!--<layout>-->
			<!--<updates>-->
				<!--<bestseller>-->
					<!--<file>bestseller.xml</file>-->
				<!--</bestseller>-->
			<!--</updates>-->
		<!--</layout>-->
    </adminhtml>

    <global>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <add_bestseller_every_home_page>
                        <!--<type>singleton</type>-->
                        <type>disabled</type>
                        <class>SM_Bestseller_Model_Observer_AddBestsellerBlock</class>
                        <method>addBestseller</method>
                    </add_bestseller_every_home_page>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <models>
            <bestseller>
                <class>SM_Bestseller_Model</class>
                <resourceModel>bestseller_mysql4</resourceModel>
            </bestseller>
            <bestseller_mysql4>
                <class>SM_Bestseller_Model_Mysql4</class>
                <!--<entities>-->
                    <!--<bestseller>-->
                        <!--<table>tbl_bestseller</table>-->
                    <!--</bestseller>-->
                <!--</entities>-->
            </bestseller_mysql4>
        </models>
        <resources>
            <bestseller_setup>
                <setup>
                    <module>SM_Bestseller</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bestseller_setup>
            <bestseller_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bestseller_write>
            <bestseller_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bestseller_read>
        </resources>
        <blocks>
            <bestseller>
                <class>SM_Bestseller_Block</class>
            </bestseller>
        </blocks>
        <helpers>
            <bestseller>
                <class>SM_Bestseller_Helper</class>
            </bestseller>
        </helpers>
    </global>
    <!--for default values-->
    <default>
        <sm_bestseller>
            <sm_bestseller>
                <enable>0</enable>
            </sm_bestseller>

        </sm_bestseller>
    </default>
</config>